* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: grey;
  height: 100vh;
  font-family: "Twinkle Star", sans-serif;
}
.six-by-six {
  height: 530px;
  width: 480px;
  background: grey;
  position: absolute;
  top: 10px;
  left: 530px;
  text-align: center;
  color: white;
}

.player {
  width: 49vw;
  height: 70vh;
  border: 1px black solid;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  background: #fffdf6;
}
.player-item {
  padding: 30px;
  font-size: 25px;
}
.total {
  background: brown;
  border: 1px black solid;
  width: 45vw;
  text-align: center;
  margin-bottom: 15px;
  border-radius: 10px;
  color: white;
}

.container-player {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.logic-container {
  width: 99vw;
  height: 26vh;
  border: 1px black solid;
  margin: 5px;
  background: #fffdf6;
  text-align: center;
}
button {
  padding: 10px 20px;
  margin: 10px;
  border-radius: 10px;
  border: 1px black solid;
  font-size: 20px;
  background: transparent;
  font-family: "Twinkle Star", sans-serif;
}
i:hover,
button:hover {
  background: #fff8dc;
  font-weight: bold;
  color: brown;
}
button:hover {
  border: 1px brown solid;
}

img {
  width: 50px;
  height: 50px;
  border: 1px black solid;
  margin: 10px;
}
.selected {
  background: #fff8dc;
}
.new-game-container,
.roll-dice-hold-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
input {
  width: 70px;
  font-size: 20px;
}
label {
  padding: 5px;
  font-size: 20px;
}
